body{
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
    text-align: center
  
}
.enfatizar {
    font-weight: bold;
    color: #ff0000;
    transition: color 0.3s, font-weight 0.3s;
}
/*      
 */